* {
  box-sizing: border-box;
}

:root {
  accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-header-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
    margin-right: 93px;
  }
}

.logo-right {
  color: #212121;
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.link.current {
  color: #2196f3;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn-icon {
  display: block;
}

.contact-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-list {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    align-items: center;
  }
}

.contact-list-item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contact-list-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contact-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .contact-list-link {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: #2196f3;
}

.contact-list-icon {
  margin-right: 8px;
  fill: #757575;
}
@media screen and (min-width: 1200px) {
  .contact-list-icon {
    margin-right: 10px;
  }
}

.contact-list-link:hover .contact-list-icon,
.contact-list-link:focus .contact-list-icon {
  fill: #2196f3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #212121;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-overlay-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-overlay-tablet.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-overlay-desktop.jpg");
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 360px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 696px;
  }
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  background-color: #2196f3;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .hero-button {
    min-width: 216px;
    padding: 10px 32px;
  }
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 47px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-item {
    width: 270px;
  }
}

.features-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

.features-pic {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .features-list-title {
    text-align: start;
  }
}

.features-list-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.works {
  padding-top: 47px;
}
@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.works-list {
  display: flex;
}

.works-item {
  width: 370px;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-item {
  max-width: 450px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
}

.team-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

.team-info {
  padding: 30px 10px 24px 10px;
}
@media screen and (min-width: 1200px) {
  .team-info {
    padding-bottom: 30px;
  }
}

.team-name {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-job {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.social-icon {
  fill: #afb1b8;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.clients-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-item {
  width: calc((100% - 60px) / 2);
  height: 92px;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.clients-link:hover,
.clients-link:focus {
  border-color: #2196f3;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

.address-info {
  font-style: normal;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .address-info {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .address-info {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.address-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .address-wrapper {
    align-items: flex-start;
  }
}

.footer-logo {
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-logo-right {
  color: #ffffff;
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address-list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address-list {
    align-items: flex-start;
    margin-right: 70px;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-item.address-city {
  margin-bottom: 5px;
}

.address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-mail,
.address-phone {
  color: rgba(255, 255, 255, 0.6);
}

.social-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  fill: #ffffff;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscribe-wrapper {
    flex-direction: row;
  }
}

.subscribe-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-title {
    text-align: start;
  }
}

.subscribe-label {
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  align-self: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-label {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe-field {
  display: block;
  width: 100%;
  max-width: 450px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  outline: #2196f3;
}
@media screen and (min-width: 1200px) {
  .subscribe-field {
    max-width: 358px;
    width: 358px;
  }
}

.subscribe-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  gap: 12px;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
  align-self: center;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 6px 22px;
}/*# sourceMappingURL=main.css.map */